@charset "UTF-8";
.main-contacto .formulario-main-contacto .item-form, .main-contacto, .main-novedades, .main-inst, .main-cursos .caja-datos-curso .datos-curso, .main-cursos .caja-datos-curso, .main-cursos, .main-index .container-main .caja-iframe, .main-index .container-main, .main-index .container-encabezado {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
}

.main-contacto .formulario-main-contacto, .main-inst .caja3-inst .caja-img-ul-inst .caja-ul-inst, .main-inst .caja2-inst, .main-inst .encabezado-main-inst, .main-cursos .caja-contenido-cursos, .main-cursos .encabezado-main-cursos, .main-index .container-main .caja-zigzag .zigzag {
  background-color: #dacfbf;
  color: black;
  padding: 10px 10px;
  margin: 5px 5px;
  border-radius: 10%;
  font-size: 1rem;
}
.main-contacto .formulario-main-contacto:hover, .main-inst .caja3-inst .caja-img-ul-inst .caja-ul-inst:hover, .main-inst .caja2-inst:hover, .main-inst .encabezado-main-inst:hover, .main-cursos .caja-contenido-cursos:hover, .main-cursos .encabezado-main-cursos:hover, .main-index .container-main .caja-zigzag .zigzag:hover {
  box-shadow: 0px 0px 31px 0px rgb(0, 0, 0);
}

.main-inst .caja3-inst .encabezado-caja3-inst, .main-inst .caja1-inst .caja1-txt-inst, .main-cursos .caja-valor-cursos, .main-cursos .caja-datos-curso .datos-curso .datos-txt-cursos, .main-index .container-main .caja-iframe {
  background-color: #9e9e9e;
  color: black;
  padding: 10px 10px;
  margin: 5px 10px 30px 10px;
  border-radius: 10%;
  font-size: 1rem;
}
.main-inst .caja3-inst .encabezado-caja3-inst:hover, .main-inst .caja1-inst .caja1-txt-inst:hover, .main-cursos .caja-valor-cursos:hover, .main-cursos .caja-datos-curso .datos-curso .datos-txt-cursos:hover, .main-index .container-main .caja-iframe:hover {
  box-shadow: 0px 0px 31px 0px rgb(0, 0, 0);
}

.video-main-index2, .video-main-index {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -2;
}

* {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #9bcfb8;
  border: 1px solid rgb(0, 0, 0);
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
header .logo {
  width: 6rem;
}
header .tamaño-dropdown {
  font-size: 0.8rem;
}

* {
  font-family: "Poppins", sans-serif;
}

.main-index {
  margin-top: 140px;
}
.main-index .container-encabezado {
  font-size: 1.1rem;
}
.main-index .container-encabezado .caja-encabezado {
  width: 100%;
  height: auto;
  padding: 10px 20px;
}
.main-index .container-main .caja-carousel {
  margin-bottom: 40px;
  margin-top: 70px;
  width: 100%;
  height: auto;
}
.main-index .container-main .caja-carousel .encabezado-carousel {
  font-weight: 700;
}
.main-index .container-main .caja-carousel .carousel-border {
  border: 3px solid black;
}
.main-index .container-main .caja-carousel .caja-txt-carousel {
  width: auto;
  height: 117px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  background-color: rgba(0, 128, 0, 0.397);
}
.main-index .container-main .caja-zigzag {
  margin-top: 100px;
}
.main-index .container-main .caja-zigzag .zigzag:hover {
  box-shadow: 0px 0px 31px 0px rgb(0, 0, 0);
}
.main-index .container-main .caja-zigzag .zigzag .caja-texto-zigzag1 h2 {
  margin: 20px;
}
.main-index .container-main .caja-zigzag .zigzag .caja-texto-zigzag1 p {
  padding: 0px 10px;
}
.main-index .container-main .caja-zigzag .caja-img-zigzag1 {
  padding: 0px 25px 25px 25px;
}
.main-index .container-main .caja-zigzag .caja-img-zigzag1 img {
  margin: 10px 0px;
  border: 3px solid black;
  width: 100%;
  height: auto;
}
.main-index .container-main .caja-iframe {
  width: 100%;
  height: auto;
  margin-top: 30px;
}
.main-index .container-main .caja-iframe .caja-iframe-img .iframe {
  padding: 5px;
}
.main-index .container-main .caja-iframe .caja-iframe-img .iframe:hover {
  font-size: 1.3rem;
}
.main-index .container-main .caja-iframe .caja-iframe-img .iframe iframe {
  width: 100%;
  height: auto;
  border: 2px solid black;
}

@media only screen and (min-width: 500px) {
  .img-zz {
    max-width: 400px;
    min-height: 250px;
  }
}
@media only screen and (min-width: 900px) {
  .main-index .container-encabezado {
    margin: 0px 104px;
  }
  .main-index .container-encabezado .caja-encabezado {
    font-weight: 300;
    font-size: 2.3rem;
  }
  .container-main {
    font-size: 2rem;
    margin: 350px 30px 0px 30px;
  }
  .container-main .caja-carousel {
    padding: 0px 50px;
  }
  .container-main .caja-carousel .encabezado-carousel {
    text-align: center;
    padding-bottom: 100px;
  }
  .container-main .caja-carousel .encabezado-carousel h2 {
    font-size: 2.5rem;
  }
  .container-main .caja-zigzag {
    display: flex;
    flex-direction: row;
  }
  .container-main .caja-iframe .caja-iframe-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .container-main .caja-iframe iframe {
    width: 33%;
  }
}
@media only screen and (min-width: 1100px) {
  .container-main .caja-carousel {
    padding: 0px 165px;
  }
}
* {
  font-family: "Poppins", sans-serif;
}

.main-cursos {
  margin-top: 140px;
}
.main-cursos .caja-presentacion-curso {
  background-color: rgba(0, 0, 0, 0.486);
  color: white;
  font-size: 1.2rem;
}
.main-cursos .encabezado-main-cursos {
  margin-top: 20px;
}
.main-cursos .caja-datos-curso {
  margin-top: 50px;
  width: 100%;
}
.main-cursos .caja-datos-curso .datos-curso .datos-img-cursos img {
  width: 10rem;
  border-radius: 50%;
}
.main-cursos .caja-contenido-cursos .contenido-curso {
  text-align: start;
}
.main-cursos .caja-valor-cursos {
  width: 50%;
}

@media only screen and (min-width: 500px) {
  .main-cursos .caja-datos-curso {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 700px) {
  .main-cursos .caja-presentacion-curso {
    font-size: 2rem;
    padding: 0px 100px;
  }
  .main-cursos .encabezado-main-cursos {
    margin-left: 80px;
    margin-right: 80px;
  }
  .main-cursos .encabezado-main-cursos .sobre-este-curso {
    padding: 10px 30px;
  }
}
.main-inst {
  margin-top: 110px;
  margin-bottom: 0px;
  background-image: url(../img/portada-institucional.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.main-inst .encabezado-main-inst {
  margin-top: 40px;
  background-color: #2a5398;
  color: rgb(255, 255, 255);
}
.main-inst .caja2-inst h2 {
  text-align: center;
}
.main-inst .caja2-inst .caja2-ul-inst .caja2-ulul-inst {
  text-align: start;
}
.main-inst .caja3-inst {
  margin-top: 20px;
}
.main-inst .caja3-inst .encabezado-caja3-inst {
  background-color: #2a5398;
  color: rgb(255, 255, 255);
}
.main-inst .caja3-inst .caja-img-ul-inst .caja-img-inst .img-que-ofrecemos,
.main-inst .caja3-inst .caja-img-ul-inst .caja-img-inst .img-que-ofrecemos2 {
  width: 7rem;
  margin-bottom: 20px;
}
.main-inst .caja3-inst .caja-img-ul-inst .caja-img-inst .img-que-ofrecemos2 {
  border-radius: 100%;
}
.main-inst .caja3-inst .caja-img-ul-inst .caja-ul-inst {
  text-align: start;
  padding: 30px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 700px) {
  .main-inst .caja1-inst {
    display: flex;
    flex-direction: row;
  }
  .main-inst .caja1-inst .caja1-txt-inst {
    width: 50%;
  }
  .main-inst .caja2-inst .caja2-ul-inst {
    display: flex;
    flex-direction: row;
  }
  .main-inst .caja2-inst .caja2-ul-inst .caja2-ultxt-inst,
  .main-inst .caja2-inst .caja2-ul-inst .caja2-ulul-inst {
    width: 50%;
    padding: 30px 30px 10px 30px;
  }
  .main-inst .caja2-inst .caja2-ul-inst .caja2-ulul-inst {
    text-align: start;
  }
  .main-inst .caja3-inst .encabezado-caja3-inst {
    margin: 50px 200px 50px 200px;
  }
  .main-inst .caja3-inst .box-img-ul-inst {
    display: flex;
    flex-direction: row;
  }
  .main-inst .caja3-inst .box-img-ul-inst .caja-img-ul-inst {
    width: 33%;
    margin: 15px;
  }
}
@media only screen and (min-width: 700px) {
  .main-inst .separacion-minw-900px {
    margin: 50px;
  }
}
.main-novedades {
  margin-top: 110px;
}
.main-novedades h1 {
  font-size: 2rem;
  color: #808000;
}
.main-novedades .cajas-main-novedades {
  margin: 30px 0px;
  padding: 15px;
}
.main-novedades .cajas-main-novedades img {
  width: 15rem;
  border: 3px solid black;
  margin: 10px;
}
.main-novedades .cajas-main-novedades .contenido-main-novedades {
  text-align: start;
  padding: 10px;
}
.main-novedades .caja12-main-novedades {
  border-bottom: 2px solid rgb(0, 0, 0);
}

@media only screen and (min-width: 500px) {
  .main-novedades .cajas-main-novedades img {
    width: 400px;
  }
  .h1-novedades {
    width: 450px;
  }
}
@media only screen and (min-width: 900px) {
  .main-novedades .cajas-main-novedades {
    display: flex;
    flex-direction: row;
  }
  .main-novedades .cajas-main-novedades img {
    min-width: 300px;
    max-height: 200px;
  }
}
.main-contacto {
  margin-top: 110px;
  background-image: url(../img/bg-contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
.main-contacto .formulario-main-contacto {
  width: 100%;
  margin-bottom: 50px;
  padding: 0px 30px;
}
.main-contacto .formulario-main-contacto .item-form {
  padding: 10px;
}

@media only screen and (min-width: 500px) {
  .main-contacto .formulario-main-contacto {
    width: 450px;
  }
}
* {
  font-family: "Poppins", sans-serif;
}

footer {
  background-color: #ece2c6;
}

.img-logosredes {
  width: 4rem;
  border-radius: 100%;
}

.footer-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.footer-row .cajafooter {
  padding: 10px 30px;
  width: 100%;
}

.logo {
  width: 7rem;
}

@media only screen and (min-width: 500px) {
  iframe {
    width: 400px;
  }
  .footer-row {
    flex-direction: row;
  }
}
@media only screen and (min-width: 812px) {
  .footer-row {
    width: 100%;
  }
  .footer-row .cajafooter {
    width: 33%;
  }
}

/*# sourceMappingURL=styles.css.map */
