* {
    font-family: 'Poppins', sans-serif;
}

.video-main-index {
    @extend %bgvideo;
}

.main-index {
    margin-top: 140px;
    
    .container-encabezado {
        @extend %flex-column;
        font-size: 1.1rem;
        

        .caja-encabezado {
            @include width-heigth (100%, auto);
            padding: 10px 20px;
            p {
                font-weight: 700;
            }
        }
    }

    .container-main {
        @extend %flex-column;

        .caja-carousel {
            margin-bottom: 40px;
            margin-top: 70px;
            @include width-heigth (100%, auto);

            .encabezado-carousel {
                font-weight: 700;
            }

            .carousel-border {
                border: 3px solid black;
            }

            .caja-txt-carousel {
                @include width-heigth (auto, 117px);
                color: rgb(255, 255, 255);
                font-size: 1rem;
                background-color: rgba(0, 128, 0, 0.397);
            }
        }

        .caja-zigzag {
            margin-top: 100px;

            .zigzag {
                @extend %transition-transform;
                @extend %caja-contenido-1;

                &:hover {
                    box-shadow: 0px 0px 31px 0px rgb(0, 0, 0);
                }

                .caja-texto-zigzag1 {
                    h2 {
                        margin: 20px;
                    }

                    p {
                        padding: 0px 10px;
                    }
                }
            }

            .caja-img-zigzag1 {
                padding: 0px 25px 25px 25px;

                img {
                    margin: 10px 0px;
                    border: 3px solid black;
                    @include width-heigth (100%, auto);
                    align-items: flex-end;
                }
            }

        }

        .caja-iframe {
            @extend %flex-column;
            @extend %caja-contenido-2;
            @include width-heigth (100%, auto);
            margin-top: 30px;


            .caja-iframe-img {

                .iframe {
                    padding: 5px;

                    iframe {
                        @extend %transition-transform;
                        @include width-heigth (100%, auto);
                        border: 2px solid black;
                    }
                }
            }
        }

        .caja-referencias {
            @extend %flex-column;
            @extend %caja-contenido-2;
            background-color: white;
            width: 80%;

            .caja-txt-refencias {
                padding: 10px 0px;
            }

            .caja-img-referencias {
                @extend %flex-row;
            }

            .logos-referencias {
                width: 11rem;
                padding: 10px 5px;
            }

        }

        .zigzag2 {
            @extend %flex-row;

            .caja-texto-zigzag2 {
                @extend %transition-transform;
                @extend %caja-contenido-2;
                background-color: nth($coloresMadera, 5);
                @extend %flex-column;
                .zigzag2-link {
                    @extend %transition-transform;
                    color: nth($coloresMadera, 1);
                }
            }


        }
    }
}



@media only screen and (min-width: 500px) {
    .img-zz {
        max-width: 400px;
        max-height: 220px;
    }
}

@media only screen and (min-width: 700px) {}


@media only screen and (min-width: 900px) {
    .img-zz {
        min-width: 220px;
        min-height: 170px;
        align-items: end;

    }

    .caja-texto-zigzag2 {
        width: 30%;
    }

    .main-index {
        .container-encabezado {
            margin: 0px 104px;

            .caja-encabezado {
                font-weight: 300;
                font-size: 2.3rem;
            }

        }
    }

    .container-main {
        font-size: 2rem;
        margin: 350px 30px 0px 30px;

        .caja-carousel {
            padding: 0px 50px;

            .encabezado-carousel {
                text-align: center;
                padding-bottom: 100px;

                h2 {
                    font-size: 2.5rem;
                }
            }
        }

        .caja-zigzag {
            display: flex;
            flex-direction: row;
        }



        .caja-iframe {
            .caja-iframe-img {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }

            iframe {
                width: 33%;
            }
        }
    }
}

@media only screen and (min-width: 1100px) {
    .container-main {
        .caja-carousel {
            padding: 0px 165px;
        }
    }

}