* {
    font-family: 'Poppins', sans-serif;
}
.video-main-index {
    @extend %bgvideo;
}

.video-main-index2 {
    @extend %bgvideo;
    
}

.main-cursos {
    margin-top: 140px;
    @extend %flex-column;
    .caja-presentacion-curso {
        background-color: rgba(0, 0, 0, 0.486);
        color: white;
        font-size: 1.2rem
        
    }
    .encabezado-main-cursos {
        @extend %caja-contenido-1;
        margin-top: 20px;
    }
    .caja-datos-curso {
        margin-top: 50px;
        @extend %flex-column;
        width: 100%;
        .datos-curso {
            @extend %flex-column;

            .datos-txt-cursos {
                @extend %caja-contenido-2;
                
            }
            
            .datos-img-cursos {
                img {
                    width: 10rem;
                    border-radius: 50%;
                }
                
            }
        }
    }

    .caja-contenido-cursos {
        @extend %caja-contenido-1;

    }

    .caja-valor-cursos {
        @extend %caja-contenido-2;
        width: 50%;
    }
}

@media only screen and (min-width: 500px) {
    .main-cursos {
        .caja-datos-curso {
            flex-direction: row;
            justify-content: space-around;
        }
    }
}

@media only screen and (min-width: 700px) {
    .main-cursos {
        .caja-presentacion-curso {
            font-size: 2rem;
            padding: 0px 100px;
        }
        .encabezado-main-cursos {
            margin-left: 80px;
            margin-right: 80px;
            .sobre-este-curso {
                padding: 10px 30px;
            }
        }
    }
}
