* {
    font-family: 'Poppins', sans-serif;
}

.video-main-index {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -2;
}

.main-index {
    margin-top: 140px;

    .container-encabezado {
        @extend %flex-column;
        font-size: 1.1rem;

        .caja-encabezado {
            @include width-heigth (100%, auto);
            padding: 10px 20px;
        }
    }

    .container-main {
        @extend %flex-column;

        .caja-carousel {
            margin-bottom: 40px;
            margin-top: 70px;
            @include width-heigth (100%, auto);

            .encabezado-carousel {
                font-weight: 700;
            }

            .carousel-border {
                border: 3px solid black;
            }

            .caja-txt-carousel {
                @include width-heigth (auto, 117px);
                color: rgb(255, 255, 255);
                font-size: 1rem;
                background-color: rgba(0, 128, 0, 0.397);
            }
        }

        .caja-zigzag {
            margin-top: 100px;

            .zigzag {
                @extend %caja-contenido-1;
                &:hover {
                    box-shadow: 0px 0px 31px 0px rgb(0, 0, 0);
                }

                .caja-texto-zigzag1 {
                    h2 {
                        margin: 20px;
                    }

                    p {
                        padding: 0px 10px;
                    }
                }
            }

            .caja-img-zigzag1 {
                padding: 0px 25px 25px 25px;

                img {
                    margin: 10px 0px;
                    border: 3px solid black;
                    @include width-heigth (100%, auto);
                }
            }

        }

        .caja-iframe {
            @extend %flex-column;
            @extend %caja-contenido-2;
            @include width-heigth (100%, auto);
            margin-top: 30px;
            

            .caja-iframe-img {
                
                .iframe {
                    padding: 5px;

                    &:hover {
                        font-size: 1.3rem;
                    }

                    iframe {
                        @include width-heigth (100%, auto);
                        border: 2px solid black;
                    }
                }
            }
        }
    }
}



@media only screen and (min-width: 500px) {
    .img-zz {
        max-width: 400px;
        min-height: 250px;
    }
}

@media only screen and (min-width: 700px) {}


@media only screen and (min-width: 900px) {
    .main-index {
        .container-encabezado {
            margin: 0px 104px;

            .caja-encabezado {
                font-weight: 300;
                font-size: 2.3rem;
            }

        }
    }

    .container-main {
        font-size: 2rem;
        margin: 350px 30px 0px 30px;

        .caja-carousel {
            padding: 0px 50px;

            .encabezado-carousel {
                text-align: center;
                padding-bottom: 100px;

                h2 {
                    font-size: 2.5rem;
                }
            }
        }

        .caja-zigzag {
            display: flex;
            flex-direction: row;
        }



        .caja-iframe {
            .caja-iframe-img {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }

            iframe {
                width: 33%;
            }
        }
    }
}

@media only screen and (min-width: 1100px) {
    .container-main {
        .caja-carousel {
            padding: 0px 165px;
        }
    }

}