* {
    font-family: 'Poppins', sans-serif;
}
.video-main-index {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -2;
}
.main-cursos {
    margin-top: 140px;
    @extend %flex-column;
    .caja-presentacion-curso {
        font-size: 1.2rem
    }
    .encabezado-main-cursos {
        @extend %caja-contenido-1;
        margin-top: 20px;
    }
    .caja-datos-curso {
        margin-top: 50px;
        @extend %flex-row;
        width: 100%;
        .datos-curso {
            @extend %flex-column;

            .datos-txt-cursos {
                @extend %caja-contenido-2;
                
            }
            
            .datos-img-cursos {
                img {
                    width: 10rem;
                    border-radius: 50%;
                }
                
            }
        }
    }

    .caja-contenido-cursos {
        @extend %caja-contenido-1;

    }

    .caja-valor-cursos {
        @extend %caja-contenido-2;
        width: 50%;
    }
}

@media only screen and (min-width: 700px) {
    .main-cursos {
        .caja-presentacion-curso {
            font-size: 2rem;
            padding: 0px 100px;
        }
        .encabezado-main-cursos {
            margin-left: 80px;
            margin-right: 80px;
            .sobre-este-curso {
                padding: 10px 30px;
            }
        }
    }
}
