* {
    font-family: 'Poppins', sans-serif;
}

.main-index {
    margin-top: 140px;

    .container-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-main-index {
        position: fixed;
        left: 0;
        top: 0;
        z-index: -2;
    }

    .caja-encabezado {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        width: 100%;
        font-size: 1.4rem;
        padding: 10px 20px;
    }

    .caja-carousel {
        margin-bottom: 40px;
        margin-top: 70px;
        z-index: -1;
        width: 100%;

        .encabezado-carousel {
            text-align: center;
            font-weight: 700;
        }

        .carousel-border {
            border: 3px solid black;
        }

        .caja-txt-carousel {
            height: 117px;
            text-align: center;
            color: rgb(255, 255, 255);
            font-size: 1rem;
            background-color: rgba(0, 128, 0, 0.397);
        }
    }

    .caja-zigzag {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        text-align: center;
        justify-content: center;
        .zigzag {
            background-color: nth($coloresMadera, 2);
            color: black;
            padding: 0px 5px;
            margin: 5px 5px;
            border-radius: 10%;
            font-size: 1rem;
            &:hover {
                box-shadow: 0px 0px 31px 0px rgb(0, 0, 0);
            }

            .caja-texto-zigzag1 {
                h2 {
                    margin: 20px;
                }

                p {
                    padding: 0px 10px;
                }
            }
        }

        .caja-img-zigzag1 {
            display: flex;
            padding: 0px 25px 25px 25px;
            justify-content: center;

            img {
                margin: 10px 0px;
                border: 3px solid black;
                width: 100%;
                text-align: center;
            }
        }

    }
}

.caja-iframe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: nth($coloresMadera,10);
    padding: 30px;
    width: 100%;
    border-radius: 10%;
    margin: 60px 10px;

    .caja-iframe-txt {
        width: 100%;
    }
    .caja-iframe-img {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        .iframe {
            display: flex;
            flex-direction: column;
            padding: 5px;
            align-items: center;
            iframe {
                width: 100%;
            }
        }
    }
}


@media only screen and (min-width: 500px) {
    .img-zz {
        max-width: 400px;
        min-height: 250px;
    }    
}

@media only screen and (min-width: 700px) {
    .caja-iframe {
        .caja-iframe-img {
            flex-direction: row;
        }
    }
}


@media only screen and (min-width: 900px) {
    .container-encabezado {
        margin: 0px 104px;

        .caja-encabezado {
            font-weight: 300;
            font-size: 3.3rem;
        }

    }

    .container-main {
        font-size: 2rem;
        margin: 350px 30px 0px 30px;

        .caja-carousel {
            padding: 0px 50px;

            .encabezado-carousel {
                text-align: center;
                padding-bottom: 100px;

                h2 {
                    font-size: 2.5rem;
                }
            }
        }

        .caja-zigzag {
            flex-direction: row;
        }



        .caja-iframe {
            iframe {
                width: 33%;
            }
        }
    }
}

@media only screen and (min-width: 1100px) {
    .container-main {
        .caja-carousel {
            padding: 0px 165px;
        }
    }

}