.main-contacto {
    margin-top: 110px;
    background-image: url(../img/bg-contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @include width-heigth (100%, auto);
    @extend %flex-column;
    min-height: 100vh;

    .encabezado-main-contacto {
        margin: 0px 10px;
    }

    .formulario-main-contacto {
        width: 100%;
        margin-bottom: 50px;
        padding: 0px 30px;
        @extend %caja-contenido-2;

        .item-form {
            @extend %flex-column;
            padding: 10px;
            width: 100%;

            textarea {
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 500px) {
    .main-contacto {
        .formulario-main-contacto {
            width: 450px;
        }
    }
}