* {
    font-family: 'Poppins', sans-serif;
}

.video-main-index {
    @extend %bgvideo;
}

.video-main-index2 {
    @extend %bgvideo;

}

.main-cursos {
    margin-top: 140px;
    @extend %flex-column;
    min-height: 100vh;

    .caja-presentacion-curso {
        background-color: rgba(0, 0, 0, 0.486);
        color: white;
        font-size: 1.2rem
    }

    .encabezado-main-cursos {
        @extend %caja-contenido-1;
        margin-top: 20px;
    }

    .caja-datos-curso {
        margin-top: 50px;
        @extend %flex-column;
        width: 100%;

        .datos-curso {
            @extend %flex-column;

            .datos-txt-cursos {
                @extend %caja-contenido-2;

            }

            .datos-img-cursos {
                img {
                    width: 10rem;
                    border-radius: 50%;

                    &:hover {
                        @extend %headshake;
                    }

                }

            }
        }
    }

    .caja-contenido-cursos {
        @extend %caja-contenido-1;
        margin-top: 50px;
        margin-bottom: 20px;

        .titulo-contenido-cursos {
            font-size: 2rem;
        }

        .contenido-curso {
            text-align: start;
        }
    }

    .caja-acordeon {
        z-index: 1;

        .container-acordeon {
            width: 290px;
            margin-bottom: 50px;

            .acordeon {
                border-radius: 100%;
                background-color: black;
            }

        }
    }


    .caja-valor-cursos {
        text-align: center;
        background-color: transparent;
        @include width-heigth (300px, 200px);
        perspective: 1000px;
        margin-bottom: 100px;

        .flip-valor-cursos {
            position: relative;
            @include width-heigth (100%, 100%);
            transition: transform 0.8s;
            transform-style: preserve-3d;

            &:hover {
                transform: rotateY(180deg);
                box-shadow: 0 0 20px rgb(0, 0, 0);
            }

            .flip-front-valor-cursos,
            .flip-back-valor-cursos {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                padding-top: 60px;

            }

            .flip-front-valor-cursos {
                background-color: #bbb;
                color: black;
            }

            .flip-back-valor-cursos {
                background-color: #555;
                color: white;
                transform: rotateY(180deg);
                font-size: 0.6rem;
                padding: 10px;
            }
        }

    }
}

@media only screen and (min-width: 500px) {
    .main-cursos {
        .caja-datos-curso {
            flex-direction: row;
            justify-content: space-around;
        }
    }

    .main-cursos {
        .caja-acordeon {
            .container-acordeon {
                width: 480px;
                z-index: 1;
            }
        }

    }

}

@media only screen and (min-width: 700px) {
    .main-cursos {
        .caja-presentacion-curso {
            font-size: 2rem;
            padding: 0px 100px;
            width: 100%;
        }

        .encabezado-main-cursos {
            margin-left: 80px;
            margin-right: 80px;

            .sobre-este-curso {
                padding: 10px 30px;
            }
        }

        .caja-valor-cursos {
            @include width-heigth (200px, 200px);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}